{% extends 'MainPage/base.html' %}

{% block navbar %}
    <header>
        <nav>
            <div class="row">
                <h3 class="current-selection"><a href="#">History</a></h3>
                <ul class='main-nav'>
                    
                    <li><a href="/auth/home">Curent Orders</a></li>
                    <li><a href="#">Billings</a></li>
                    <li><a href="/auth/menu">Menus</a></li>
                    <li><a href="/auth/tables">Tables</a></li>
                    
                </ul>
            </div>
        </nav>
    </header>
{% endblock navbar%}